h1 {
    text-align: center;
    font-weight: bolder;
    color: coral;
    text-decoration-line: underline;
}

h2 {
    color: rgb(8, 8, 94);
    font-style: italic;
    text-align-last: left;
    text-decoration-line: underline;
}

p {
    color: darkcyan;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-align-last: center; */
    line-height: 40px;